* {
	margin: 0;
	padding: 0;
}

body {

}

.clear {
	clear: both;
}

.autores-inner-container {
	overflow: hidden;
	margin-top: 80px;
	min-width: 800px;
}

.autor-top {
	margin: 0 auto;
	width: 80%;
}

.autores-title {
	font-size: 60px;
	text-align: center;
}

								/* WASSERMAN */

.wasser-container {
	width: 80%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid rgb(252,192,6);
	margin-top: 70px;
}

.wasser-img {
	float: left;
	padding: 0;
	margin-right: 25px;
}

.wasser-img img{
	width: 235px;
	border: 4px solid rgb(252,192,6);
}

.wasser-text h2, .autores-title {
	background: -webkit-linear-gradient(#FDD202,#F18321);
	background: -moz-linear-gradient(#FDD202,#F18321);
	background: -ms-linear-gradient(#FDD202,#F18321);
	background: -o-linear-gradient(#FDD202,#F18321);
	background: linear-gradient(#FDD202,#F18321);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-ms-background-clip: text;
  	-ms-text-fill-color: transparent;
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
  	-o-background-clip: text;
  	-o-text-fill-color: transparent;
  	background-clip: text;
  	text-fill-color: transparent;
	margin: 0;
	margin-bottom: 20px;
}

.wasser-text p{
	color: white;
	font-family: Raleway, sans-serif;
	font-weight: lighter;
	line-height: 2;
	font-size: 13px;
}

								/* MITCH LEIGH */

.author-container{
	width: 80%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 50px;
	padding-top: 50px;
	border-bottom: 1px solid rgb(252,192,6);
}

.author-title {
	float: left;
	margin-right: 25px;
}

.author-title h2, .ficha-masllorens span, .elenco-titles, .elenco-inner-container h1, .elenco-acompanados h4, .ficha-title h1 {
	text-align: center;
	line-height: 1.6;
	margin: 0;
	margin-top: -3px;
	background: -webkit-linear-gradient(#FDD202,#F18321);
	background: -moz-linear-gradient(#FDD202,#F18321);
	background: -ms-linear-gradient(#FDD202,#F18321);
	background: -o-linear-gradient(#FDD202,#F18321);
	background: linear-gradient(#FDD202,#F18321);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-ms-background-clip: text;
  	-ms-text-fill-color: transparent;
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
  	-o-background-clip: text;
  	-o-text-fill-color: transparent;
  	background-clip: text;
  	text-fill-color: transparent;
}

.author-title p {
	margin-top: 20px;
	color: white;
	text-align: center;
	font-weight: lighter;
}

.author-text p{
	line-height: 2;
	font-size: 13px;
	color: white;
	font-family: Raleway, sans-serif;
}


									/* ELENCO */

.elenco-cut-top {
	position: absolute;
	margin-top: 41px;
	z-index: 9999;
}

.elenco-container {
	background: url('../img/background.jpg') no-repeat fixed center;
}


.elenco-inner-container h1 {
	margin-bottom: 30px;
	font-size: 60px;
}

.elenco-inner-container {
	padding-top: 50px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 55px;
	min-width: 850px;
}

.elenco-titles {
	font-size: 35px;
}

.elenco-subtitles {
	color: white;
	font-weight: lighter;
	margin:15px 0px 30px;
}

.elenco-raul-cecilia {
	width: 80%;
	margin: 0 auto;
}

.raul {
	float: left;
	margin-left: 50px;
}

.cecilia {
	float: right;
	margin-right: 30px;
}

.elenco-acompanados {
	border-top: 1px solid rgb(252,192,6);
	width: 80%;
	margin: 0 auto;
	padding: 30px;
	margin-top: 30px;
}

.elenco-acompanados ul {
	margin-top: 20px;
}

.elenco-acompanados ul li {
	color: white;
	font-weight: lighter;
	font-size: 20px;
	line-height: 1.5;
}




									/* FICHA TÉCNICA */

.ficha-cut-top {
	position: absolute;
	z-index: 999;
}

.ficha-container {
	padding-top: 50px;
	padding-bottom: 50px;
	background: url('../img/backFicha1.jpg') no-repeat fixed center;
	
}

.ficha-inner-container{
	margin: 0 auto;
	margin-top: 50px;
	width: 80%;
	min-width: 800px;
	text-align: center;
}

.ficha-title h1{
	font-size: 60px;
}

.ficha-data {
	width: 80%;
	margin: 0 auto;
	padding: 30px 0px;
}

.ficha-data ul li {
	font-weight: 300;
	color: white!important;
	background: none;
	background-clip: none;
	font-size: 17px;
	line-height: 2;
}

.ficha-data ul li span {
	background: -webkit-linear-gradient(#FDD202,#F18321);
	background: -moz-linear-gradient(#FDD202,#F18321);
	background: -ms-linear-gradient(#FDD202,#F18321);
	background: -o-linear-gradient(#FDD202,#F18321);
	background: linear-gradient(#FDD202,#F18321);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-ms-background-clip: text;
  	-ms-text-fill-color: transparent;
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
  	-o-background-clip: text;
  	-o-text-fill-color: transparent;
  	background-clip: text;
  	text-fill-color: transparent;
	font-size: 16px;
	font-weight: 300;
}

.ficha-masllorens {
	color: white;
	font-weight: 300;
	margin-top: 30px;
	font-size: 15px;
	line-height: 2;
	font-size: 17px;
}





















