* {
	margin: 0;
	padding: 0;
}

body {

}

.clear {
	clear: both;
}

.autores-inner-container {
	overflow: hidden;
	margin-top: 80px;
	min-width: 800px;
}

.autor-top {
	margin: 0 auto;
	width: 80%;
}

								/* WASSERMAN */

.wasser-container {
	width: 80%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid rgb(252,192,6);
}

.wasser-img {
	float: left;
	padding: 0;
	margin-right: 25px;
}

.wasser-img img{
	width: 235px;
	border: 4px solid rgb(252,192,6);
}

.wasser-text h2 {
	background: -webkit-linear-gradient(#FDD202,#F18321);
	background: -moz-linear-gradient(#FDD202,#F18321);
	background: -ms-linear-gradient(#FDD202,#F18321);
	background: -o-linear-gradient(#FDD202,#F18321);
	background: linear-gradient(#FDD202,#F18321);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-ms-background-clip: text;
  	-ms-text-fill-color: transparent;
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
  	-o-background-clip: text;
  	-o-text-fill-color: transparent;
  	background-clip: text;
  	text-fill-color: transparent;
	margin: 0;
	margin-bottom: 20px;
}

.wasser-text p{
	color: white;
	font-family: Raleway, sans-serif;
	font-weight: lighter;
	line-height: 2;
	font-size: 13px;
}

								/* MITCH LEIGH */

.author-container{
	width: 80%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 50px;
	padding-top: 50px;
	border-bottom: 1px solid rgb(252,192,6);
}

.author-title {
	float: left;
	margin-right: 25px;
}

.author-title h2 {
	text-align: center;
	line-height: 1.6;
	margin: 0;
	margin-top: -3px;
	background: -webkit-linear-gradient(#FDD202,#F18321);
	background: -moz-linear-gradient(#FDD202,#F18321);
	background: -ms-linear-gradient(#FDD202,#F18321);
	background: -o-linear-gradient(#FDD202,#F18321);
	background: linear-gradient(#FDD202,#F18321);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-ms-background-clip: text;
  	-ms-text-fill-color: transparent;
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
  	-o-background-clip: text;
  	-o-text-fill-color: transparent;
  	background-clip: text;
  	text-fill-color: transparent;
}

.author-title p {
	margin-top: 20px;
	color: white;
	text-align: center;
	font-weight: lighter;
}

.author-text p{
	line-height: 2;
	font-size: 13px;
	color: white;
	font-family: Raleway, sans-serif;
}


