
*, body {
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: Oswald, sans-serif;
}

body {
	background-color: black;
}

a:hover, a:link {
	text-decoration: none;
}

ul {
	list-style: none;
}

#header {
	background: rgb(252,192,6);
}

.top-banner {
	text-align: center;
	min-width: 800px;
}

.header-logo {
	padding-top: 30px;
	width: 300px;
}

.nav-bar-menu {
	text-align: center;
	margin-top: 20px;
	min-width: 800px;
}

.nav-bar-menu li {
	display: inline-block;
	padding: 0px 50px;
	border-right: solid 1px rgb(252,192,6);
	line-height: 10px;
}

@media screen and (max-width: 1093px) {
    .nav-bar-menu li {
	display: inline-block;
	padding: 0px 25px;
	border-right: solid 1px rgb(252,192,6);
	line-height: 10px;
    }
}

.nav-bar-menu li a {
	color: rgb(252,192,6);
}

.nav-bar-menu li a:hover {
	color: rgb(252,120,6);
}

.buy-border {
	border-right: solid 0px black!important;
}

.nav-bar-buy {
	background: -webkit-linear-gradient(#a62126,#7e050a);
	background: -ms-linear-gradient(#a62126,#7e050a);
	background: -moz-linear-gradient(#a62126,#7e050a);
	background: -o-linear-gradient(#a62126,#7e050a);
	color: white!important;
	padding: 8px 20px;
	border-radius: 3px; 
}

.nav-bar-buy:hover {
	cursor: pointer;
	background: -webkit-linear-gradient(#d7020a,#4e0204);
	background: -ms-linear-gradient(#d7020a,#4e0204);
	background: -moz-linear-gradient(#d7020a,#4e0204);
	background: -o-linear-gradient(#d7020a,#4e0204);
	text-shadow: 2px 2px 0px black;
	border: 1px solid white;
}

.activeLink {
	color: rgb(252,120,6) !important;
}
													/* FOOTER */

footer {	
	padding-top: 15px;
	margin-top: 30px;
	min-width: 800px;
}

.logo-maipo {
	width: 160px;
	margin-bottom: 15px;
}

.direccion-maipo {
	color: white;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-bottom: 60px;
}

.direccion-maipo span {
	letter-spacing: 0px;
}

.web-maipo {
	color: rgb(252,192,6);
	font-weight: lighter;
}

.web-maipo:hover {
	color: white;
}

#sponsors {
	margin-bottom: 30px;
}

#site-info {
	margin-top: 15px;
	background-color: rgb(252, 192, 6);
	color: #A41F24;
}

.footer-logo {
	width: 180px;
}

.about-text {
	margin: auto;
	font-weight: 300;
}

#rights-reserved {
	text-align: center;
	padding: 15px 0px;
	font-weight: lighter;
	letter-spacing: 1px;
	color: white;
	font-size: 12px;
}

