*, body {
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: Oswald, sans-serif;
}

body {
	background-color: black;
}

#global-container {

} 

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}


#header {
	background: rgb(252,192,6);
}

.top-banner {
	text-align: center;
}

.header-logo {
	padding-top: 30px;
	width: 300px;
}

.nav-bar-menu {
	text-align: center;
	margin-top: 20px;
}

.nav-bar-menu li {
	display: inline-block;
	padding: 0px 50px;
	border-right: solid 1px rgb(252,192,6);
	line-height: 10px;
}

.nav-bar-menu li a {
	color: rgb(252,192,6);
}

.nav-bar-menu li a:hover {
	color: white;
}

.buy-border {
	border-right: solid 0px black!important;
}

.nav-bar-buy {
	background: rgb(166,38,33);
	color: white!important;
	padding: 8px 20px;
	border-radius: 3px; 
}

													/* FOOTER */

footer {	
	padding-top: 15px;
}

#sponsors {
	text-align: center;
}

#site-info {
	margin-top: 15px;
	background-color: rgb(252, 192, 6);
	color: #A41F24;
}

.footer-logo {
	width: 180px;
}

.about-text {
	margin: auto;
}

#rights-reserved {
	text-align: center;
	margin-top: 30px;
	font-weight: lighter;
	letter-spacing: 1px;
	color: white;
	font-size: 12px;
}