	
*, body {
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: Oswald, sans-serif;
}

body {
	background-color: black;
}

#global-container {
	min-width: 800px;
	overflow-x: hidden;
}

a:hover, a:link {
	text-decoration: none;
}

ul {
	list-style: none;
}

.clear {
	clear: both;
}

#header {
	background: -webkit-linear-gradient(#FDD202,#F8AE1A);
	background: -moz-linear-gradient(#FDD202,#F8AE1A);
	background: -ms-linear-gradient(#FDD202,#F8AE1A);
	background: -o-linear-gradient(#FDD202,#F8AE1A);
	background: linear-gradient(#FDD202,#F8AE1A);
}

.top-banner {
	text-align: center;
	min-width: 800px;
}

.header-logo {
	padding-top: 30px;
	width: 900px;
}

.header-facebook {
	margin-right: 30px;
	float: right;
	position: absolute;
	right: 0;
	top: 230px;
}

/*@media screen and (max-width:900px) {
	.header-logo {
		width: 700px;
		-webkit-transition:all 1s ease;
		-ms-transition:all 1s ease;
		-moz-transition:all 1s ease;
		-o-transition:all 1s ease;
		transition:all 1s ease;
	}
	.header-facebook {
		top: 185px;
		-webkit-transition:all 1s ease;
		-ms-transition:all 1s ease;
		-moz-transition:all 1s ease;
		-o-transition:all 1s ease;
		transition:all 1s ease;
	}
}*/

.header-facebook p {
	font-weight: lighter;
	margin:0;
}

.logo-facebook {
	width: 100px;
	padding-right: 15px;
	opacity: 0.8;
}

.logo-twitter {
	width: 23px;
	opacity: 0.8;
}

.header-facebook img:hover {
	opacity: 1;
}

.nav-bar-menu {
	text-align: center;
	margin-top: 20px;
	min-width: 800px;
}

.nav-bar {
	min-width: 805px;
}

.nav-bar-menu li {
	display: inline-block;
	padding: 0px 50px;
	border-right: solid 1px rgb(252,192,6);
	line-height: 10px;
}

@media screen and (max-width: 1093px) {
    .nav-bar-menu li {
	display: inline-block;
	padding: 0px 25px;
	border-right: solid 1px rgb(252,192,6);
	line-height: 10px;
    }
}

.nav-bar-menu li a {
	color: rgb(252,192,6);
}

.nav-bar-menu li a:hover {
	color: rgb(252,120,6);
}

.buy-border {
	border-right: solid 0px black!important;
}

.nav-bar-buy {
	background: -webkit-linear-gradient(#a62126,#7e050a);
	background: -ms-linear-gradient(#a62126,#7e050a);
	background: -moz-linear-gradient(#a62126,#7e050a);
	background: -o-linear-gradient(#a62126,#7e050a);
	color: white!important;
	padding: 8px 20px;
	border-radius: 3px; 
}

.nav-bar-buy:hover {
	cursor: pointer;
	background: -webkit-linear-gradient(#d7020a,#4e0204);
	background: -ms-linear-gradient(#d7020a,#4e0204);
	background: -moz-linear-gradient(#d7020a,#4e0204);
	background: -o-linear-gradient(#d7020a,#4e0204);
	text-shadow: 2px 2px 0px black;
	border: 1px solid white;
}

.activeLink {
	color: rgb(252,120,6) !important;
}
													/* FOOTER */

footer {
	margin-top: 20px;
	padding-top: 15px;
	min-width: 800px;
}

.logo-maipo {
	width: 160px;
	margin-bottom: 15px;
}

.logo-macro {
	width: 200px;
	margin-bottom: 50px;
	margin: 5% 40% 4% 40%;
}

.direccion-maipo {
	color: white;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-bottom: 60px;
}

.direccion-maipo span {
	letter-spacing: 0px;
}

.web-maipo {
	color: rgb(252,192,6);
	font-weight: lighter;
}

.web-maipo-footer {
	font-weight: 400;
	color: rgb(167,33,38);
}

.web-maipo-footer:hover {
	color: black;
}

.web-maipo:hover {
	color: white;
}

#sponsors {
	margin-bottom: 30px;
}

#site-info {
	margin-top: 15px;
	background-color: rgb(252, 192, 6);
	color: #A41F24;
}

.footer-logo {
	width: 180px;
}

@media screen and (min-width:1231px) {
	.about-text-container {
		margin-top: 10px;
	}
}

.about-text {
	margin: auto;
	font-weight: 300;
}

#rights-reserved {
	text-align: center;
	padding: 15px 0px;
	font-weight: lighter;
	letter-spacing: 1px;
	color: white;
	font-size: 11px;
}

.top-black {
	height: 20px;
	background: black;
}

.footer-flip-top {
	position: absolute;
}

@media (min-width: 1050px) {
    #musical-box  {
        width: 70%;
    }
}

.premier-title {
	font-size: 2em !important;
	color: white;
	letter-spacing: 8px;
	margin: 70px 0px 50px 0px;
	display: none;
}

.nav-bar-buy-big {
	background: -webkit-linear-gradient(#a62126,#7e050a);
	background: -ms-linear-gradient(#a62126,#7e050a);
	background: -moz-linear-gradient(#a62126,#7e050a);
	background: -o-linear-gradient(#a62126,#7e050a);
	color: white!important;
	padding: 16px 40px;
	border-radius: 3px; 
	font-size: 20px;
}

.nav-bar-buy-big:hover {
	cursor: pointer;
	background: -webkit-linear-gradient(#d7020a,#4e0204);
	background: -ms-linear-gradient(#d7020a,#4e0204);
	background: -moz-linear-gradient(#d7020a,#4e0204);
	background: -o-linear-gradient(#d7020a,#4e0204);
	text-shadow: 2px 2px 0px black;
	border: 2px solid white;
}

					/* NUEVO ELENCO */


.elenco1-container {
	background: linear-gradient(#F8AE1A,#FDD202,#F8AE1A);
	text-align: center;
	padding-top: 30px;
}

.elenco1-elenco {
	padding-bottom: 10px;
}

.elenco1-elenco h1, .elenco1-orquesta h1 {
	color: #a62126;
	font-size: 50px;
}

.elenco1-pepe {
	margin-top: 30px;
	text-align: center;
	color: #a62126;
}

.elenco1-pepe h2, .elenco1-raul h2, .elenco1-cecilia h2 {
	font-size: 36px;
	color: #a62126;
}

.elenco1-pepe h4, .elenco1-raul h4, .elenco1-cecilia h4 {
	font-weight: lighter;
	color: #a62126;
}

.elenco1-raul-cecilia {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.elenco1-raul {
	float: left;
}

.elenco1-cecilia {
	float: right;
}

.elenco-left {
	padding-right: 10px;
	text-align: right;
	float: left;
	width: 50%;
	font-size: 20px;
	color: #a62126;
}

.elenco-left ul li {
	font-weight: lighter;
	line-height: 30px;
}

.elenco-right {
	padding-left: 10px;
	text-align: left;
	float: left;
	width: 50%;
	font-size: 20px;
	color: #a62126;
}

.elenco-right ul li {
	line-height: 30px;
}

.elenco1-orquesta {
	margin-top: 50px;
}

.director-musical {
	min-width: 273px;
	width: 25%;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

.director-musical-left, .director-musical-right {
	float: left;
}

.director-musical-left {
	text-align: right;
}

.director-musical-left h3 {
	font-weight: lighter;
	color: #a62126;
}

.director-musical-right {
	text-align: left;
	padding-left: 20px;
	margin-top: 12px;
	font-size: 20px;
	color: #a62126;
}

.elenco1-cut {
	margin-top: 10px;
	position: relative!important;
	width: 100%;
}

.elenco1-orquesta {
	padding-top: 280px;
}

.siteBy {
	margin-top: 20px;
	font-family: 'Old Standard TT', serif;
	font-style: italic;
}

.pragaLogo img {
	width: 150px;
	padding-bottom: 20px;
}


					/* STAFF */


.staff-container {
	background: linear-gradient(#F8AE1A,#FDD202,#F8AE1A);
	text-align: center;
	padding-top: 30px;
	margin-top: -25px;
}

.staff-cut {
	min-width: 1200px;
	margin-top: -10px;
}

.staff-title p {
	color: #a62126;
	font-size: 50px;
	margin-top: 20px;
}

.staff-list-left, .staff-list-right {
	width: 50%;
	float: left;
	padding-top: 20px;
	line-height: 30px;
}

.staff-list-left {
	text-align: right;
	padding-right: 10px;
	color: #a62126;
	font-weight: lighter;
	font-size: 17px;
}

.staff-list-right {
	font-size: 17px;
	padding-left: 10px;
	text-align: left;
	color: #a62126;
	padding-bottom: 20px;
}

.staff-list-special {
	font-size: 20px;
}


