.index-cut-top {
	position: absolute;
	margin-top: 16px;
	z-index: 99999;
}

#index-container {
	margin-top: 30px;
	position: relative;
}

.music-box-info {
	position: relative;
}

.music-box-info h2 {
	background: -webkit-linear-gradient(#FDD202,#F18321);
	background: -moz-linear-gradient(#FDD202,#F18321);
	background: -ms-linear-gradient(#FDD202,#F18321);
	background: -o-linear-gradient(#FDD202,#F18321);
	background: linear-gradient(#FDD202,#F18321);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-ms-background-clip: text;
  	-ms-text-fill-color: transparent;
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
  	-o-background-clip: text;
  	-o-text-fill-color: transparent;
  	background-clip: text;
  	text-fill-color: transparent;
  	text-align: center;
	letter-spacing: 1px;
	font-size: 50px;
	margin-top: -170px;
}

.music-box-info h2 span {
	font-size: 70px;
	line-height: 1.4;
}

.musical-box-content {
	font-size: 17px;
	line-height: 1.5;
	position: relative;
	left: 50%;
	color: white;
	font-weight: 300;
	text-align: center;
	width: 60%;
	min-width: 470px;
	margin-top: -12%;
	-webkit-transform: translate(-50%, 0%); 
	-moz-transform: translate(-50%, 0%); 
	-o-transform: translate(-50%, 0%); 
	-ms-transform: translate(-50%, 0%); 
	transform: translate(-50%, 0%); 
	border-bottom: 1px solid rgb(252,192,6);
	padding-bottom: 40px;
	margin-bottom: 30px;
}

	
}