.index-cut-top {
	position: absolute;
	margin-top: 16px;
	z-index: 99999;
}

#index-container {
	margin-top: 30px;
	position: relative;
}

#musical-box {
	width: 80%;
	margin: 0 auto;
	margin-top: -23%;
	min-width: 700px;
	border-bottom: 1px solid rgb(252, 192, 6);
}

@media (max-width: 900px) {
    #musical-box {
        top: 80% !important;
    }
}

.musical-box-title-wrapper {
	position: relative;

}

.musical-box-title-container {
	opacity: 0.2;
	background: -webkit-linear-gradient(#fff,#000);
	background: -ms-linear-gradient(#fff,#000);
	background: -moz-linear-gradient(#fff,#000);
	background: -o-linear-gradient(#fff,#000);
	height: 200px;
	border-radius: 12px;
}

.musical-box-title {
	z-index: 1;
	width: 100%;
	position: absolute;
	left: 50%;
	font-size: 35px;
	color: rgb(252, 192, 6);
	-webkit-transform: translate(-50%, 50%); 
	-moz-transform: translate(-50%, 50%); 
	-o-transform: translate(-50%, 50%); 
	-ms-transform: translate(-50%, 50%); 
	transform: translate(-50%, 50%);
	letter-spacing: 3px;
}

.musical-box-content {
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: -100px;
	padding-bottom: 40px;
	z-index: 1;


}
